// Colors
$primary: #a626a6;
$hyperlink: #cb01cb;
$success: #32cd32;
$input-focus: #00ff00;
$form-sent-success-background: #d4edda;
$fail: #ff0000;
$fail-background: #ffcccc;
$background-effect-left: #008bce;
$background-effect-right: #34b78f;
$white: #fff;
$black: #000;
$light-gray: #f9f9f9;

// Screen size
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1500px;
